@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;900&family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "DM Sans", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Playfair Display", serif;
  
  --color-bg: #020617;
  --color-surface: #0f172a;
  --color-surface2: #1e293b;
  --color-border: #c9a84c;
  --color-gold: #c9a84c;
  --color-gold2: #f0d080;
  --color-gold3: #fff0a0;
  --color-blue-accent: #3b82f6;
  --color-text-main: #f8fafc;
  --color-muted-main: #64748b;
}

@layer base {
  body {
    @apply bg-bg text-text-main font-sans;
  }
}

